.flex-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 20px;
  //background-color: DodgerBlue;
}
.flex-container > div {
  font-size: 16px;
  //background-color: DodgerBlue;
}

.flex-item {
  padding: 10px;
  flex: 50%;
}

.flex-align-right {
  flex-direction: row-reverse;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.simple-divider {
  border-style: solid;
  border-width: 0.01rem;
  border-color: rgb(247, 242, 242);
  border-left: none;
  border-right: none;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
    padding: 0px;
    margin: 5px;
  }
}
