.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.searchTerm {
  width: 25%;
  border: 1px solid white;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 15px;
  height: 20px;
  outline: none;
  color: #e53170;
}

.searchTerm:focus {
  color: #e53170;
}
